@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.about {
  padding: 10px 0;
  overflow: hidden;
  background: vars.$grayscale100;
  @media (max-width: vars.$xl) {
    padding: 30px 0 50px;
  }

  &__container {
    display: flex;
    gap: 32px fn.clip-max(32, 120);
    align-items: center;
    @media (max-width: vars.$xl) {
      flex-direction: column;
      align-items: unset;
    }
  }

  &__content {
    display: flex;
    flex: none;
    flex-direction: column;
    gap: 214px;
    padding: 70px 0;
    @media (max-width: vars.$xl) {
      gap: 32px;
      order: 2;
      padding: 0;
    }
  }

  &__title {
    max-width: 366px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fn.clip-max(24, 50) fn.clip-max(32, 110);
    margin-top: auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__num {
    @include mix.h2;
  }

  &__name {
    @include mix.p18;

    color: vars.$grayscale600;
  }

  &__img {
    &-wrap {
      width: 100%;
      height: 100%;
      margin-right: calc(-1 * fn.free-place() + 10px);
    }

    width: 100%;
    height: 100%;
    max-height: 700px;
    border-radius: 24px;
  }
}
