@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.about {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    &_flag {
      width: fn.clip-min(32, 50);
      height: fn.clip-min(24, 40);
      border-radius: 8px;
    }
  }

  &__features {
    margin-top: 3rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(32, 48);
    align-items: center;
    width: 100%;
    max-width: 976px;
    text-align: center;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(16, 32);
  }

  &__desc {
    @include mix.p20;

    font-weight: 400;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 20px;
    align-items: center;

    @media (max-width: vars.$md) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    margin: -14px -7px;
    border-radius: 15px;
  }

  &__name {
    @include mix.h3;

    position: relative;
    z-index: 2;
    padding: 14px 7px;
    overflow: hidden;
    border-radius: 48px;

    &:hover {
      &::before {
        transform: translate(-50%, -50%) scale(7, 1.5);
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 50px;
      height: 50px;
      background: vars.$lime;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.65s ease-in-out;
      content: '';
    }
  }
}

.about-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  &__title {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: HeadingNow, sans-serif;
    flex-direction: column;
    @media (min-width: vars.$min-md) {
      flex-direction: row;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    @media (min-width: vars.$min-md) {
      flex-direction: row;
    }
  }

  &__list-item {
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    @media (min-width: vars.$min-md) {
      font-size: 1rem;
    }
    &:first-child {
      background: var(--gradients-lt-blue, linear-gradient(90deg, #c9c4ff 0%, #befef3 100%));
    }

    &:nth-child(2) {
      background: var(--gradients-orange-pink, linear-gradient(90deg, #ffd2c4 0%, #f6beff 100%));
    }

    &:nth-child(3) {
      background: var(--gradients-yel-pink, linear-gradient(90deg, #f6ffc4 0%, #ffcebe 100%));
    }
  }
}
