@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.benefits {
  @media (max-width: vars.$sm) {
    padding-bottom: 40px;
  }

  &__container {
    display: flex;
    gap: fn.clip-min(32, 40);
    @media (max-width: vars.$xxl) {
      flex-direction: column;
    }
  }

  &__title {
    &-wrap {
      flex: none;
      max-width: 520px;
    }

    position: sticky;
    top: 100px;
    left: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fn.clip-min(24, 50) fn.clip-min(16, 50);
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    @media (max-width: vars.$xxl) {
      padding-right: 0;
    }
  }

  &__icon {
    display: inline-block;
    width: fn.clip-min(50, 64);
    height: fn.clip-min(50, 64);
    margin-bottom: fn.clip-min(16, 32);
  }

  &__name {
    margin-bottom: fn.clip-min(12,16);
    @include mix.h3;
  }

  &__desc {
    @include mix.p18;

    color: vars.$grayscale600;
    font-weight: 400;
  }
}
