@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.cases {
  color: vars.$grayscale0;
  background: vars.$grayscale900;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fn.clip-min(8, 20);
    @media (max-width: vars.$md) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, rgba(vars.$grayscale900, 0) 50.4%, rgba(vars.$grayscale900, 0.6) 100%);
    border-radius: 16px;
  }

  &__img {
    border-radius: 16px;
  }

  &__text-block {
    position: absolute;
    bottom: fn.clip-min(16, 30);
    left: fn.clip-min(16, 30);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(4, 16);
  }

  &__name {
    @include mix.h4;
  }

  &__type {
    @include mix.p18-big;
  }
}
