@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.contacts {
  position: relative;
  color: rgba(vars.$grayscale0, 0.6);

  @media (max-width: vars.$lg) {
    padding-bottom: 0;
  }

  @media (max-width: vars.$sm) {
    padding-top: 40px;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(32, 50);

    background: vars.$grayscale900;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    overflow: hidden;
    @media (max-width: vars.$lg) {
      grid-template-columns: 1fr;
    }
  }

  &__content-wrapper {
    height: 100%;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(16, 20);
    padding-left: 3.75rem;
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
    @media (max-width: vars.$lg) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-bottom: 2rem;
      padding-top: 1.5rem;
    }
  }

  &__title {
    color: vars.$grayscale0;
  }

  &__desc {
    @include mix.p18-big;

    font-weight: 400;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(24, 40);
    max-width: 520px;
  }

  &__field-block {
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(24, 32);
  }

  &__field-row {
    display: flex;
    gap: fn.clip-min(24, 32);
    @media (max-width: vars.$md) {
      flex-direction: column;
    }
  }

  &__btn-block {
    display: flex;
    gap: fn.clip-min(12, 24);
    @media (max-width: vars.$sm) {
      flex-direction: column;
    }
  }

  &__agreement {
    @include mix.p12;

    color: rgba(vars.$grayscale0, 0.5);
    @media (max-width: vars.$sm) {
      margin: 0 auto;
      text-align: center;
    }

    &_link {
      color: vars.$grayscale0;
    }
  }

  &__img {
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &-wrap {
      width: 100%;
      height: 100%;
      position: relative;
      @media (max-width: vars.$lg) {
        order: -1;
        height: 26rem;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.98%, #1a1a1a 100%);
          z-index: 1;
        }
      }
      picture {
        width: 100%;
        height: 100%;
        img {
          @media (max-width: vars.$lg) {
            object-position: top;
          }
        }
      }
    }
  }

  &__ceo {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    background: #1a1a1a;
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    z-index: 2;
    @media (max-width: vars.$lg) {
      left: 0.5rem;
      bottom: 0.5rem;
    }
  }
}

.contacts-ceo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &__title {
    font-family: HeadingNow, 'sans-serif';
    font-size: 1.25rem;
    font-weight: 300;
  }

  &__position {
    font-weight: 400;
    font-size: 1.25rem;
    @media (max-width: vars.$lg) {
      font-size: 0.875rem;
    }
  }
}
