@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.footer {
  @include mix.p16;

  padding-top: 60px;
  padding-bottom: 32px;
  font-weight: 400;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }

  &__logo {
    display: inline-flex;

    &-icon {
      width: 165px;
      height: 16px;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-title {
      @include mix.p14-heading;

      color: vars.$grayscale500;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__bottom {
    @include mix.p14;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__rights {
    color: vars.$grayscale400;
  }
}
