@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.footer {
  @include mix.p16;

  padding-top: fn.clip-min(40, 60);
  padding-bottom: 32px;
  font-weight: 400;

  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.clip-min(40, 80);
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
  }

  &__logo {
    display: inline-flex;

    &-icon {
      width: 165px;
      height: 16px;
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    gap: fn.clip-max(24, 48);

    @media (max-width: vars.$md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      width: 100%;
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-width: 180px;
      @media (max-width: vars.$md) {
        min-width: unset;
      }
    }

    &-title {
      @include mix.p14-heading;

      color: vars.$grayscale500;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__bottom {
    @include mix.p14;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    @media (max-width: vars.$md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__rights {
    color: vars.$grayscale400;
    @media (max-width: vars.$md) {
      order: 2;
    }
  }
}
