@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.prices {
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding: 30px;
    border: 1px solid vars.$grayscale300;
    border-radius: 16px;

    &_gray {
      background: vars.$grayscale100;
      border-color: vars.$grayscale100;
    }

    &_dark {
      color: vars.$grayscale0;
      background: vars.$grayscale900;
      border-color: vars.$grayscale900;

      .prices__benefits {
        &-icon {
          color: vars.$lime;
        }
      }
    }

    &-top {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }
  }

  &__name-block {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__name {
    @include mix.h3;
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include mix.p16;

    &-item {
      display: flex;
      gap: 10px;
    }

    &-icon {
      width: 20px;
      height: 20px;
    }
  }

  &__payment {
    @include mix.h3-bold;

    margin-bottom: 8px;
  }

  &__duration {
    @include mix.p16-heading;

    margin-bottom: 16px;
    color: vars.$grayscale500;
  }
}
