@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.privacy {
  &__inner {
    padding-top: fn.clip-min(32, 60);
  }

  &__container {
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 400;
      font-size: fn.clip-min(20, 24);
      font-family: HeadingNow, sans-serif;
      line-height: fn.clip-min(30, 32);
      margin-bottom: fn.clip-min(32, 40);
    }

    h3 {
      font-weight: 400;
      font-size: fn.clip-min(18, 20);
      font-family: HeadingNow, sans-serif;
      line-height: fn.clip-min(28, 30);
      margin-bottom: fn.clip-min(24, 24);
    }

    h4 {
      @include mix.p16-heading;
      font-size: 16px;
      font-weight: 400;
      font-family: HeadingNow, sans-serif;
      line-height: fn.clip-min(24, 24);
      margin-bottom: fn.clip-min(12, 12);
    }

    p {
      @include mix.p16;
      font-weight: 400;
      font-size: fn.clip-min(16, 16);
      line-height: fn.clip-min(24, 24);
      margin-bottom: fn.clip-min(32, 32);
      color: vars.$grayscale700;
    }
  }

  &__title {
    font-weight: 400;
    font-size: fn.clip-min(20, 32);
    font-family: HeadingNow, sans-serif;
    line-height: fn.clip-min(30, 48);
    margin-bottom: fn.clip-min(40, 60);
  }
}
