@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.input {
  width: 100%;
  font-weight: 400;
  @include mix.p16;

  &__field {
    width: 100%;
    padding-bottom: 15px;
    color: vars.$grayscale0;
    vertical-align: middle;
    border-bottom: 1px solid rgba(vars.$grayscale0, 0.2);
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    resize: vertical;

    &::placeholder {
      color: rgba(vars.$grayscale0, 0.2);
    }

    &:hover,
    &:focus-visible,
    &:active {
      border-color: vars.$grayscale0;
    }
  }
}
