@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.input {
  width: 100%;
  font-weight: 400;
  @include mix.p16;

  &__field {
    width: 100%;
    padding-bottom: 15px;
    color: vars.$grayscale0;
    vertical-align: middle;
    border-bottom: 1px solid rgba(vars.$grayscale0, 0.2);
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    resize: vertical;

    &::placeholder {
      color: rgba(vars.$grayscale0, 0.2);
    }

    &:hover,
    &:focus-visible,
    &:active {
      border-color: vars.$grayscale0;
    }
  }
}

.checkbox {
  color: rgba(vars.$grayscale0, 0.5);
  @include mix.p12;

  &__flag {
    &:checked {
      & + .checkbox__custom {
        .checkbox__custom_checked {
          opacity: 1;
        }
      }
    }
  }

  &__custom {
    position: relative;
    flex: none;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(vars.$grayscale0, 0.5);

    &_checked {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 14px;
      height: 14px;
      color: rgba(vars.$grayscale0, 0.5);
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      content: '';
    }
  }

  a {
    display: inline;
    color: vars.$grayscale0;
  }
}
