@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.tooltip {
  position: relative;
  display: inline-flex;
  flex: none;

  &::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    width: 0;
    border-color: rgba(vars.$grayscale300, 100%) rgba(0, 0, 0, 0%);
    border-style: solid;
    border-width: 15px 15px 0;
    transform: translate(-50%, 0);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    content: '';
  }

  &_active {
    &::before,
    .tooltip__body {
      visibility: visible;
      opacity: 1;
    }
  }

  &__btn {
    display: inline-flex;
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: vars.$grayscale500;
  }

  &__body {
    position: absolute;
    bottom: calc(100% + 13px);
    left: 50%;
    display: flex;
    justify-content: center;
    width: max-content;
    max-width: 520px;
    padding: 15px;
    background: vars.$grayscale300;
    border-radius: 12px;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    @media (max-width: vars.$md) {
      max-width: 220px;
    }
  }
}
