-
  var menu = [
    {
      name:'Startseite',
      link:'#'
    },
    {
      name:'Rechtsgebiete',
      link:'#'
    },
    {
      name:'Über uns',
      link:'#'
    },
    {
      name:'Cases / News',
      link:'#'
    },
    {
      name:'Team',
      link:'#'
    },
    {
      name:'Karriere',
      link:'#'
    },
    {
      name:'Kontakt',
      link:'#'
    },
  ]