extends ../layouts/main-light

block vars
    - const title = 'О нас';
    - const pageName = 'about-page';

block content
    include ../components/hero-about
    include ../components/team
    include ../components/background

    +hero-about
    +team
    +background