mixin fixed
  .fixed 
    .fixed__container.container 
      button.fixed__btn.btn(type="button" data-popup-open="discuss") Оставить заявку
      a.fixed__social(href="#") 
        svg.fixed__social-icon
          use(xlink:href="./assets/sprite.svg#telegram")
      a.fixed__social(href="#") 
        svg.fixed__social-icon
          use(xlink:href="./assets/sprite.svg#whatsapp")
