mixin fixed
  .fixed 
    .fixed__container.container 
      button.fixed__btn.btn(type="button" data-popup-open="discuss") Оставить заявку
      a.btn-social(href="#") 
        svg.btn-social__icon
          use(xlink:href="./assets/sprite.svg#telegram")
      a.btn-social(href="#") 
        svg.btn-social__icon
          use(xlink:href="./assets/sprite.svg#whatsapp")
