mixin tooltip 
  .tooltip
    button.tooltip__btn(type="button")
      svg.tooltip__icon
        use(xlink:href="./assets/sprite.svg#tooltip")
    .tooltip__body
      span Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, dolor quaerat. Maxime ducimus aspernatur iusto, eius iste quis similique cupiditate, harum deserunt atque eaque vel temporibus quas aperiam doloribus provident!
    
