mixin tooltip 
  .tooltip
    button.tooltip__btn(type="button")
      svg.tooltip__icon
        use(xlink:href="./assets/sprite.svg#tooltip")
    .tooltip__body
      span Lorem ipsum dolor sit 
    
