mixin about 
  section.about.section
    .about__container.container 
      .about__content
        .about__text-block
          h2.about__title.section__title Einzelwerk  - первая немецкая диджитал студия в России и СНГ 
          p.about__desc Объединяем лучшие традиционные немецкие ценности и передовые технологии для создания высококачественных сайтов под ключ. Мы гордимся своим немецким подходом к деталям и страстью к идеальному исполнению каждого проекта.
        ul.about__list 
          li.about__item
            h3.about__name Пунктуальность
          li.about__item
            h3.about__name Точность 
          li.about__item
            h3.about__name Надежность
