mixin additional
  section#additional.additional.section
    .additional__container.container
      .additional__title-block
        h2.additional__title.section__title Дополнительные услуги
        ul.additional__services   
          li.additional__services-item брендинг
          li.additional__services-item креативы
          li.additional__services-item моушн
          li.additional__services-item смм/сео
      .additional__contact-block 
        span.additional__interested Заинтересованы?
        a.additional__contact.link-underline(href="#contacts") Свяжитесь с нами
      
          