mixin background
    section#background.background.section
        .background__container.container
            .background__title Наш бэкграунд
            .background__subtitle еще одна диджитал-студия
            .slides
                .glide.members__slider
                    .glide__track(data-glide-el="track")
                        ul.glide__slides
                            li.glide__slide
                                .slides__item
                                img.slides__img(src="@/img/slides/slide-1.jpg" alt="")
                            li.glide__slide
                                .slides__item
                                img.slides__img(src="@/img/slides/slide-2.jpg" alt="")
                            li.glide__slide
                                .slides__item
                                img.slides__img(src="@/img/slides/slide-3.jpg" alt="")
                            li.glide__slide
                                .slides__item
                                img.slides__img(src="@/img/slides/slide-4.jpg" alt="")
                            li.glide__slide
                                .slides__item
                                img.slides__img(src="@/img/slides/slide-5.jpg" alt="")
            .background-desc
                .background-desc__container
                    .background__description Наша сплоченная команда является основой цифровой студии Einzelwerk, расположенной в прекрасном городе Гамбург, Германия. Мы предоставляем комплексные услуги онлайн-маркетинга для компаний всех форм и размеров - ведь, давайте посмотрим правде в глаза, кто может выжить без хорошего присутствия в Интернете в наши дни?
                        br
                        br
                        | Наша многонациональная команда собрала в себе лучших представителей различных культур и менталитетов, и мы каждый день усердно работаем над тем, чтобы сделать мир прекраснее с помощью наших потрясающих продуктов и услуг.