mixin background-desc 
    #background-desc.background-desc.section 
        .background-desc__container.container
            .background__description Наша сплоченная команда является основой цифровой студии Einzelwerk, расположенной в прекрасном городе Гамбург, Германия. Мы предоставляем комплексные услуги онлайн-маркетинга для компаний всех форм и размеров - ведь, давайте посмотрим правде в глаза, кто может выжить без хорошего присутствия в Интернете в наши дни?
                br
                br
                | Наша многонациональная команда собрала в себе лучших представителей различных культур и менталитетов, и мы каждый день усердно работаем над тем, чтобы сделать мир прекраснее с помощью наших потрясающих продуктов и услуг.