mixin background
    section#background.background.section
        .background__container.container
            .background__title Наш бэкграунд
            .background__subtitle еще одна диджитал-студия