mixin cases
  section#cases.cases.section
    .cases__container.section__container.container 
      h2.cases__title.section__title Кейсики
      ul.cases__list 
        -
          const casesList = [
            {
              src: '@/assets/img/cases/case-1.jpg',
              name: 'Printegy',
              type: 'Сайт',
            },
            {
              src: '@/assets/img/cases/case-2.jpg',
              name: 'bulthaup',
              type: 'Сайт',
            },
            {
              src: '@/assets/img/cases/case-3.jpg',
              name: 'Duesseldorf Business School',
              type: 'Сайт',
            },
            {
              src: '@/assets/img/cases/case-4.jpg',
              name: 'Kids Fun Palace',
              type: 'Сайт',
            },
            {
              src: '@/assets/img/cases/case-5.jpg',
              name: 'Stena Glovis',
              type: 'Сайт',
            },
            {
              src: '@/assets/img/cases/case-6.jpg',
              name: 'KFP Architekten',
              type: 'Сайт',
            },
          ];
        each caseItem in casesList
          li.cases__item 
            a.cases__link(href="#") 
              picture.cases__img-wrap.wh100
                img.cases__img.wh100(src=caseItem.src, alt="")
              .cases__text-block 
                h3.cases__name=caseItem.name 
                span.cases__type=caseItem.type