mixin cases
  section#cases.cases.section
    .cases__container.section__container.container 
      h2.cases__title.section__title Кейсики на Behance
      ul.cases__list 
        -
          const casesList = [
            {
              src: '@/img/cases/case-1.jpg',
              name: 'bulthaup',
              type: 'Сайт',
              isCompleted: true,
            },
            {
              src: '@/img/cases/case-2.jpg',
              name: 'Printegy',
              type: 'Сайт',
              isCompleted: true,
            },

          ];
        each caseItem in casesList
          - const classCompleted = caseItem.isCompleted ? '' : 'cases__item_soon'
          li.cases__item(class=classCompleted tabindex="0")
            if !caseItem.isCompleted
              span.cases__soon Кейс в разработке
            .cases__more
              a.cases__more-link(href="#" target="_blank") 
                | Перейти на сайт
                svg.cases__more-icon
                  use(xlink:href="./assets/sprite.svg#goto")
              a.cases__more-link(href="#" target="_blank") 
                | Смотреть на Behance
                svg.cases__more-icon
                  use(xlink:href="./assets/sprite.svg#behance")
            picture.cases__img-wrap.wh100
              img.cases__img.wh100(src=caseItem.src, alt="")
            .cases__text-block 
              h3.cases__name=caseItem.name 
              span.cases__type=caseItem.type
      button.cases__load-more Смотреть все кейсы