mixin error 
  section.single.first-section
    .single__container.container
      picture.single__poster-wrap
        img.single__poster(src="@/assets/img/error.svg", alt="")
      .single__content
        h1.single__title Вы забрели не туда, давайте разберемся!
        .single__link-block
          a.single__link.btn(href="#") На главную
          a.btn-social(href="#") 
            svg.btn-social__icon
              use(xlink:href="./assets/sprite.svg#telegram")
          a.btn-social(href="#") 
            svg.btn-social__icon
              use(xlink:href="./assets/sprite.svg#whatsapp")