mixin footer
  footer#footer.footer
    .footer__container.container 
      .footer__top 
        a.footer__logo(href="#hero") 
          svg.footer__logo-icon
            use(xlink:href="./assets/sprite.svg#logo")
        .footer__contacts
          .footer__contacts-block 
            strong.footer__contacts-title Соцсети
            ul.footer__contacts-list 
              li.footer__contacts-item
                a.footer__contacts-link(href="#") Behance
              li.footer__contacts-item
                a.footer__contacts-link(href="#") Telegram
              li.footer__contacts-item
                a.footer__contacts-link(href="#") WhatsApp
          .footer__contacts-block 
            strong.footer__contacts-title Контакты
            ul.footer__contacts-list 
              li.footer__contacts-item
                a.footer__contacts-link(href="+79119892442") +7 911 989-24-42
              li.footer__contacts-item
                a.footer__contacts-link(href="hi@einzelwerk.ru") hi@einzelwerk.ru
      .footer__bottom
        span.footer__rights Все права защищены © Einzelwerk
        a.footer__agreement(href="#") Политика конфиденциальности
