mixin hero-about
    section#hero-about.hero-about.first-section
        .hero-about__container.container
            .hero-about__inner
                .hero-about__content
                    .hero-about__title-block 
                        h1.hero-about__title Мы - Einzelwerk
                    .hero-about__desc Ясно формулируем для себя, что наш главный ресурс и преимущество – сработанная команда. 
            picture.hero-about__bg-wrap
                source(media="(max-width:767.98px)" srcset="@//img/hero/einzelwerk-team.jpg")
                img.hero-about__bg(src="@//img/hero/einzelwerk-team.jpg" alt="")

