mixin hero 
  section.hero 
    .hero__container.container
      .hero__inner
        .hero__content
          .hero__title-block 
            - 
              const workersList = [ 
                '@/assets/img/workers/woker-1.png',
                '@/assets/img/workers/woker-2.png',
                '@/assets/img/workers/woker-3.png',
                '@/assets/img/workers/woker-4.png',
                '@/assets/img/workers/woker-5.png',
              ]
            ul.hero__workers
              each worker in workersList
                li.hero__workers-item 
                  picture.hero__workers-img-wrap
                    img.hero__workers-img(src=worker, alt="")
              li.hero__workers-item.hero__workers-item_more 
                span +10
            h1.hero__title Офигенные и продуманные сайты от немецкой студии
          .hero__desc Делаем продукты, которые радуют не только глаз, но и ваших сейлзов
          button.hero__btn.btn(type="button") Обсудить проект
        picture.hero__bg-wrap
          img.hero__bg(src="@/assets/img/hero-bg.png", alt="")

