mixin team
    section#team.team.section
        .team__container.container
            .team__title Наша команда
            #team-slides.slides
                .team-slides__desktop
                    -
                        const membersList = [ 
                            {
                            image: '@//img/team/andrey.jpg',
                            name: "Андрей",
                            position: "CEO"
                            },
                            {
                            image: '@//img/team/dmitriy.jpg',
                            name: "Дмитрий",
                            position: "Арт-директор"
                            },
                            {
                            image: '@//img/team/poylar.jpg',
                            name: "Александр",
                            position: "Фронтенд разработчик"
                            },
                            {
                            image: '@//img/team/boshnik.jpg',
                            name: "Александр",
                            position: "Бэкенд разработчик"
                            },
                            {
                            image: '@//img/team/kseniya.jpg',
                            name: "Ксения",
                            position: "Бренд-дизайнер"
                            },
                            {
                            image: '@//img/team/olga.jpg',
                            name: "Ольга",
                            position: "UI/UX-дизайнер"
                            },
                            {
                            image: '@//img/team/mark.jpg',
                            name: "Марк",
                            position: "Проджект-менеджер"
                            },
                            {
                            image: '@//img/team/daria.jpg',
                            name: "Дарья Р.",
                            position: "Проджект-менеджер"
                            },
                            {
                            image: '@//img/team/anastasia.jpg',
                            name: "Анастасия",
                            position: "Проджект-менеджер"
                            },
                            {
                            name: "Арсен",
                            position: "Motion-дизайнер"
                            },
                            {
                            name: "Алексей",
                            position: "Бэкенд разработчик"
                            },
                            {
                            image: '@//img/team/pasha.jpg',
                            name: "Паша",
                            position: "Junior UI/UX-дизайнер"
                            },
                        ]
                    .team-slides__members
                        each member in membersList
                            .team-slides__members-item
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src=member.image)
                                .team-slides__members-info
                                    h3.team-slides__members-name=member.name
                                    p.team-slides__members-position=member.position
        .team-slides__mobile.team-slides__container
            .team-slides__members.slides
                .glide.slides__slider
                    .glide__track(data-glide-el="track")
                        ul.glide__slides
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/andrey.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Андрей
                                    p.team-slides__members-position CEO
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/dmitriy.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Дмитрий
                                    p.team-slides__members-position Арт-директор
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/poylar.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Александр
                                    p.team-slides__members-position Фронтенд разработчик
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/boshnik.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Александр
                                    p.team-slides__members-position Бэкенд разработчик
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/kseniya.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Ксения
                                    p.team-slides__members-position Бренд дизайнер
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/olga.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Ольга
                                    p.team-slides__members-position UI/UX-дизайнер
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/mark.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Марк
                                    p.team-slides__members-position Проджект-менеджер
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/daria.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Дарья
                                    p.team-slides__members-position Проджект-менеджер
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/anastasia.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Анастасия
                                    p.team-slides__members-position Проджект-менеджер
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/unknown.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Арсен
                                    p.team-slides__members-position Motion-дизайнер
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/unknown.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Алексей
                                    p.team-slides__members-position Бэкенд разработчик
                            li.team-slides__members-item.glide__slide
                                picture.team-slides__members-img-wrap
                                    img.team-slides__members-img(src="@//img/team/pasha.jpg")
                                .team-slides__members-info
                                    h3.team-slides__members-name Паша
                                    p.team-slides__members-position Junior UI/UX-дизайнер
            #team-searching.team-searching
                .team-searching__container
                    .team-searching__searching
                        .team-searching__content
                            h2.team-searching__content-title Мы ищем именно тебя!
                            p.team-searching__content-desc Наша студия постоянно находится в поиске талантливых ребят, которые готовы разорвать диджитал-рынок
                            .team-searching__content-cta
                                p.team-searching__content-cta__text Отправляй резюме и короткий рассказ о себе прямо к нам на почту
                                button.team-searching__content-cta__btn moin@einzelwerk.ru