mixin thanks 
  section.single.first-section
    .single__container.container
      .single__content
        h1.single__title Класс, спасибо за заявочку!
        .single__link-block
          a.single__link.btn(href="#") На главную
          a.btn-social(href="#") 
            svg.btn-social__icon
              use(xlink:href="./assets/sprite.svg#telegram")
          a.btn-social(href="#") 
            svg.btn-social__icon
              use(xlink:href="./assets/sprite.svg#whatsapp")